#tabela tr:nth-child(odd) {
  background-color: white;
}

table tr:nth-child(even) {
  background-color: #e9ecef;
}

#tabela {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  height: 100%;

  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#tableH {
  border-style: solid;
  border-color: black;
  text-align: center;
}

#row1,
#row2,
#row3,
#row4,
#row5,
#row6 {
  text-align: center;
}
#items1,
#items2,
#items3,
#items4,
#items5,
#items6 {
  display: inline-table;
  text-align: left;
}
#header {
  text-align: center;
  size: 28px;
  color: gray;
}
